{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <h1 class="mt-5"><span>covid-19</span> predictor india</h1>
    <h2 class="mt-5">CDAC SAMHAR COVID-19 hackathon, team <span>delta</span></h2>
    {% if predict %}
        <h4>showing predictions for <span>{{ state }}</span></h4>
        <table class="my-5 table table-hover table-light">

            <thead>
            <tr>
                <th scope="col">Sl No.</th>
                <th scope="col">Date</th>
                <th scope="col"># Confirmed Cases</th>
            </tr>
            </thead>
            <tbody>
            {% for row in predictions %}
                <tr>
                    <th scope="row">{{ row.0 }}</th>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h4 class="text-left">Line Plot for <span>{{ state }}</span></h4>
        <div id="tester" class="my-5" style="width:900px;height:450px;"></div>
        <a class="my-5" href="{% url 'home' %}">
            <button type="button" class="btn btn-light">Go Back</button>
        </a>

    {% else %}

        <h4 class="mt-5">Please select a district get case count predictions</h4>
        <form autocomplete="off" method="post">
            {% csrf_token %}
            <input id="state-input" name="state-input" class="chosen-value" type="text" value=""
                   placeholder="type to filter">
            <ul class="value-list">
                {% for state in states %}
                    <li>{{ state }}</li>
                {% endfor %}

            </ul>
            <button type="submit" class="btn btn-light">predict</button>
        </form>

    {% endif %}


{% endblock %}

{% block plot %}
    <script>
        TESTER = document.getElementById('tester');

        var trace3 = {
            x: {{ days }},
            y: {{ confirmed }},
            mode: 'lines+markers'
        };

        var data = [trace3];

        var layout = {
            title: 'Predictions for Confirmed Cases',
            name: 'District',
            xaxis: {
                title: 'DATES'
            },
            yaxis: {
                title: '#CONFIRMED CASES'
            },
            {#plot_bgcolor:"black",#}
            {#paper_bgcolor:"black",#}
        };

        Plotly.newPlot(TESTER, data, layout);

    </script>
{% endblock %}