{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <h1 class="mt-5"><span>COVID-19</span> Predictor India</h1>
    <h2 class="mt-5">CDAC SAMHAR CoVID-19 Hackathon, Team: <span>Delta</span></h2>
    {% if predict %}
        <h1>Showing predictions for <span>{{ state }}</span></h1>
    {% else %}
        <h3 class="mt-5">Please select a state for which cases have to be predicted</h3>
        <form method="post">
            {% csrf_token %}
            <input id="state-input" name="state-input" class="chosen-value" type="text" value=""
                   placeholder="Type to filter">
            <ul class="value-list">
                {% for state in states %}
                    <li>{{ state }}</li>
                {% endfor %}

            </ul>
            <button type="submit" class="btn btn-light">Light</button>
        </form>
    {% endif %}

{% endblock %}